
<body>
   
    <div>
       @*  @{
            ViewData["data1"] = "Tom and Jerry are Not Good friends";
        }
        <h1>From Index View Before</h1>
        <partial name="_BooksList" />
        <partial name="MyView" /> *@
        @*<partial name="ChildList" />
        <partial name="ChildViewdata" view-data="ViewData" /> *@
        <h1>From Index View After</h1>
    </div>
    <div>
        @{
            var all_route_parms = new Dictionary<string, string>{
                { "x","200" },{ "y","50"}
            };
        }
        <!--Razor TagHelper-->
        <div>
            <a asp-action="Add" asp-controller="Calculator" 
            asp-route-x="25" asp-route-y="6">CallAdd asp-route</a>
        </div>
        <div>
            <a asp-action="Add" asp-controller="Calculator" 
            asp-all-route-data="all_route_parms">CallAdd all_route_parms</a>
        </div>
        <!--HTMLHelper-->
        @await Html.PartialAsync("ChildList")
        @* @await Html.PartialAsync("ChildViewdata", ViewData) *@

        @*@Html.ActionLink("CallAdd", "Add", "Calk", new { x = 258, y = 6 })*@

    </div>
</body>
