
@{
    ViewData["Title"] = "Index";
}

<h1>OrderIds</h1>
@* @using (Html.BeginForm("Details", "Order", FormMethod.Get))
{
    <fieldset>
        <p>
            @Html.DropDownList("id")
            <input type="submit" value="Submit" />
        </p>
    </fieldset>
} *@
<form asp-asp-controller="Order" method="post" asp-action="Details">
    <select  asp-items="ViewBag.ID">
    </select>
    <button type="submit">details</button>
</form>