@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div> <a asp-controller="Calculator">Calculator</a></div>
    <div> <a asp-controller="MultiActionView">MultiView</a></div>
    <div> <a asp-controller="Book">Book</a></div>
    <div> <a asp-controller="Dac">Dac</a></div>
    <div> <a asp-controller="Customer">Customer</a></div>
</div>
