@model Aspnetmvcapp.Employee
@{
    ViewData["Title"] = "Add Emp";
}
<div>
    <h3>Employee Created</h3>
</div>
<hr/>
<div>
    <form asp-action="Index" method="post">
        <div asp-validation-summary="All"></div>
        <div>
            <label asp-for="FirstName">Firstname:</label>
            <label asp-for="FirstName">@Model.FirstName</label>
        </div>
        <div>
            <label asp-for="LastName">Lastname:</label>
            <label asp-for="LastName">@Model.LastName</label>
        </div>
        <div>
            <label asp-for="Salary">Salary:</label>
            <label asp-for="Salary">@Model.Salary</label>
        </div>
        <div>
            <input type="submit" value="Home" />
        </div>   
    </form>
</div>