@page
@model IndexModel
@{
    ViewData["Title"] = "Index page";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="container">
    <div><a href="..\PageA">PageA</a></div>
    <div><a href="..\PageB">PageB</a></div>
    <div><a href="..\Login">Login</a></div>
</div>