<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] 😊 </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="text-center">
            <h1>Gavs</h1>
        </div>
        <div class="container"> <a href="../index">Home</a></div>
        <hr />
    </header>
    @RenderBody()
    <footer>
        <hr />
        <div class="text-center"><h3>Footer</h3></div>
        <div>Tom &amp; Jerry &nbsp; &#169; Venkat - &#8377; 1000/-</div>
    </footer>
</body>
</html>
