
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <form>
            <div>
                <label></label>
                <input id="x" name="x" />
            </div>
        </form>
    </div>
</body>
</html>
