@page
@model aspemptyapp.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
}
<div>
    @* Cart  redirects  to Payments *@
    <div><a  href="Cart">Cart</a></div> 
    <div><a  href="ShoppingCart">Shopping Cart</a></div>
    @* State  redirects  to PageA *@
    <div><a  href="State">State</a></div>

</div>