@{
    ViewData["Title"] = "Menu Page";
}

<div class="text-center"><h1 class="display-4">Welcome</h1></div>
<div class="jumbotron">
    <div>INR: &#8377</div>
    <a asp-action="Echo" asp-route-name="venkat" 
    asp-route-city="chennai">Call Echo</a> | 
    <a asp-action="SayHello" asp-route-name="venkat">Call SayHello</a>
    <div>
        <div> <a asp-controller="Emp">Emp List</a></div>
        <div><a asp-controller="Doctor">Doctor List</a></div>
    </div>
</div>
<div class="text-center">

    <hr />
    <div><a asp-action="GetTime" asp-controller="Home">GetTime</a></div>
    <div><a asp-action="GetBook" asp-controller="Home">GetBook</a></div>
    <hr />
    <div> <a asp-controller="Calculator">Calculator</a></div>

    <div> <a asp-controller="Book">Book</a></div>
    <div> <a asp-controller="Dac">Dac</a></div>
    <div> <a asp-controller="Customer">Customer</a></div>

    <div> <a asp-controller="PartialView">PartialView</a></div>
    <div> <a asp-controller="PartialView" asp-action="Tabs">Tabs</a></div>
    <div> <a asp-controller="Movies" asp-action="Start">SharedView</a></div>

    <div> <a asp-controller="MultiActionView">View Component</a></div>
</div>
<hr />
